<h1>Display your Pirate here</h1>
<%= @p_name %>
<%= @p_weight %>
<%= @p_height %>
      
    
<h2>Display your first ship here</h2>

<%= @s1_name %>
<%= @s1_type %>
<%= @s1_booty %>

<h2>Display your second ship here</h2>

<%= @s2_name %>
<%= @s2_type %>
<%= @s2_booty %>